@inject IStringLocalizer<WaitScreen> _localizer
<div class="vh-100 d-flex align-items-center justify-content-center gap-3">
    <div class="h5 spinner-border" style="color:red"></div>
    <div class="h2">@_localizer["WaitText"]</div>
</div>
@code{

}